<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp uap3 iot uap4 rescap desktop">

	<Identity
	  Name="522e1c47-a189-4f3d-8aa0-6a79401a7f54"
	  Publisher="CN=furka"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="522e1c47-a189-4f3d-8aa0-6a79401a7f54" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>ProcessClosure</DisplayName>
		<PublisherDisplayName>furka</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="ProcessClosure.App">
			<uap:VisualElements
			  DisplayName="ProcessClosure"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="ProcessClosure"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
			</uap:VisualElements>
		</Application>
		
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
			<rescap:Capability Name="runFullTrust"/>
			<rescap:Capability Name="appDiagnostics"/>
		<uap4:Capability Name="userDataTasks"/>
		<uap:Capability Name="userAccountInformation"/>
		<iot:Capability Name="systemManagement"/>
	</Capabilities>
</Package>